<!DOCTYPE html>
<html lang="es">
    {% include "head.njk" %}
    <body class="body">
        <div class="main-wrapper">
            {% include "header.njk" %}
            <main>{{ content | safe }}</main>
            {% include "footer.njk" %}
        </div>
        <div id="imageModal" class="modal" onclick="closeModal()">
            <span class="close">&times;</span>
            <img id="modalImg" class="modal-content">
        </div>
        <script src="\scripts\modal.js" defer></script>
        <script src="\scripts\burger-menu.js" defer></script>
    </body>
</html>