<!DOCTYPE html>
<html lang="es">
    {% include "head.njk" %}
    <body class="body">
        <div class="main-wrapper">
            {% include "header.njk" %}
            <main>{{ content | safe }}</main>
            {% include "footer.njk" %}
        </div>
    </body>
</html>