.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid {
    display: grid;    
}
.grid.container {
    grid-template-columns: 1fr;
}
.grid .one {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 8%;
    margin-bottom: 40px;
}