.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    gap: 24px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.video {
    width: 640px;
    height: 300px;
    background-color: cornsilk;
    margin: 0 auto;
}
.grid {
    display: grid;    
}
.grid.container {
    grid-template-columns: 1fr;
}
.grid .one {
    grid-template-columns: 1fr;
}