.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid {
    display: grid;
}

.grid.container {
    grid-template-columns: 1fr;
    gap: 20px;  
    margin-top: 15px;  
}

.grid.container .image-container:first-child .img {
    margin-top: -40px;  
    transform: scale(0.8); /* Mantiene la imagen 1 más pequeña */
}
