.section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    gap: 24px;
}
.img {
    width: 100%;
    height: 100%;
}
.grid {
    display: grid;    
}
.grid.container {
    grid-template-columns: repeat(7, 1fr);
}