.section {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.description {
    margin: 20px 0;
}

.img-container {
    text-align: center;
}

.img-container img {
    width: 100%;
    height: auto;
    display: block;
}

.section .logo {
    padding: 0 15%;
}

.grid {
    display: grid;    
}
.grid.container {
    grid-template-columns: 1fr;
}
.grid .one {
    grid-template-columns: 5fr 5fr 1fr 3.5fr
}