/* Estilos generales para la hero section */
.hero-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    background-image: url('/images/index/hero1.jpg'); /* Imagen de fondo */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    padding: 100px 40px;
}

.hero-section h1 {
    display: inline-block; /* El texto es tratado como bloque, pero en línea */
    width: 100%; /* El ancho se adapta al contenido */
    margin: 0;
    display: inline-block; /* Mantiene el texto en línea y centrado */
    text-align: center; /* Asegura que el texto esté centrado */
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.hero-section p {
    font-style: italic;
    font-size: 20px;
    font-weight: 0;
}

/* Estilos para el grid de imágenes */
.image-grid {
    display: grid;
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr); /* Siempre 3 columnas */
    gap: 0px; /* Sin espacio entre columnas */
    padding: 60px;
}

/* Responsive: cambia a 2 columnas en tablets y 1 en móviles */
@media (max-width: 1024px) {
    .image-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
        gap: 0px;
    }
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
}

.image-container {
    position: relative;
    width: 100%;
    gap: 0px;
    padding-bottom: 75%; /* Hace que el contenedor tenga una proporción cuadrada */
    overflow: hidden;
}

.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.image-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 10, 118, 0.7); /* Rosa */
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* Asegura que el texto esté centrado */
    transition: opacity 0.3s ease;
}

.image-container:hover .overlay {
    opacity: 2;
}

.image-container .overlay h3 {
    font-size: 21px;
    font-weight: bold;
    margin: 0; /* Elimina margen innecesario */
}

.image-container .overlay .date {
    font-size: 18px;
    font-weight: 200px; /* Fuente más fina */
    margin-top: 10px; /* Espacio entre el título y la fecha */
}

/* Responsive para grid de imágenes */
@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: 1fr;
    }
    .hero-section h1 {
        font-size: 24px;
    }
}