/* Estilos generales */
* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    max-width: 2048px;
    min-height: 100vh;
    margin: 0 auto;
}

/* Temporary fix from https://github.com/11ty/eleventy/issues/457 */
p:empty {
    display: none;
}