.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
}
.grid .one{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom:20px;
    margin-top: 20px;
}
.grid.one .image-container .img {
    transition: transform 0.25s ease-in-out; /* Transición suave */
}

.grid.one .image-container .img:hover {
    transform: scale(1.1); /* Aumenta un 10% en hover */
}
.grid .two{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    margin-top: 20px;
    margin-bottom: 20px;
}
.grid.two .image-container .img {
    transition: transform 0.3s ease-in-out; /* Transición suave */
}

.grid.two .image-container .img:hover {
    transform: scale(1.2); /* Aumenta un 10% en hover */
}
.grid .three{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid .four{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.grid .five{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 5px;
}